html, body {
     margin: 0;
     padding: 0;
     text-align: center;
}

.code {
    display: inline-block;
    height: 128px;
    width: 128px;
    border: 1px solid white;
    transition: ease 0.5s;
    box-sizing: border-box;
}

.texte {
    text-align: center;
    height: 128px;
    line-height: 128px;
    color: white;
    opacity: 0;
    transition: ease 0.5s;
    cursor: pointer;
}

.texte:hover {
    opacity: 1;
}
